html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #022c43; */
  background: radial-gradient(ellipse at bottom, #354c65 0%, #090a0f 100%);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.2)),
    url(../public/growtika-9WnjxT1NCoY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

  /* backdrop-filter: blur(2px) saturate(180%); */
  height: 100vh;

  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 711px 1293px #fff, 604px 1146px #fff, 1351px 297px #fff,
    1363px 735px #fff, 1667px 333px #fff, 99px 1451px #fff, 876px 1054px #fff,
    1871px 447px #fff, 1565px 1754px #fff, 1992px 1800px #fff, 1255px 214px #fff,
    1875px 955px #fff, 1381px 1650px #fff, 1022px 1310px #fff, 454px 1334px #fff,
    336px 1479px #fff, 1821px 34px #fff, 1532px 378px #fff, 1575px 1576px #fff,
    1700px 1551px #fff, 399px 1147px #fff, 214px 1800px #fff, 34px 1869px #fff,
    573px 1876px #fff, 551px 119px #fff, 506px 1159px #fff, 1993px 1440px #fff,
    543px 172px #fff, 1092px 1155px #fff, 139px 361px #fff, 403px 1142px #fff,
    1670px 1065px #fff, 1255px 929px #fff, 1714px 653px #fff, 976px 972px #fff,
    747px 480px #fff, 1464px 1317px #fff, 1986px 158px #fff, 1299px 975px #fff,
    388px 1603px #fff, 1100px 82px #fff, 418px 145px #fff, 1461px 524px #fff,
    1844px 164px #fff, 1660px 738px #fff, 935px 709px #fff, 1683px 1652px #fff,
    240px 1873px #fff, 434px 675px #fff, 1882px 1678px #fff, 1037px 35px #fff,
    1019px 892px #fff, 1880px 1371px #fff, 78px 1032px #fff, 1826px 873px #fff,
    1908px 414px #fff, 1741px 308px #fff, 1023px 1502px #fff, 552px 578px #fff,
    1565px 1255px #fff, 1007px 1041px #fff, 1943px 409px #fff,
    1538px 1695px #fff, 1081px 1160px #fff, 548px 526px #fff, 950px 1539px #fff,
    158px 118px #fff, 255px 1052px #fff, 519px 1495px #fff, 724px 593px #fff,
    1618px 1288px #fff, 1784px 1668px #fff, 1692px 273px #fff, 231px 778px #fff,
    139px 871px #fff, 1906px 893px #fff, 1797px 1546px #fff, 1106px 1915px #fff,
    1854px 1516px #fff, 73px 744px #fff, 90px 1418px #fff, 1042px 547px #fff,
    1279px 907px #fff, 1240px 1747px #fff, 787px 852px #fff, 382px 349px #fff,
    956px 262px #fff, 1522px 1956px #fff, 860px 925px #fff, 658px 440px #fff,
    279px 1022px #fff, 611px 1148px #fff, 1663px 1531px #fff, 845px 883px #fff,
    1871px 1058px #fff, 807px 274px #fff, 976px 320px #fff, 1863px 1380px #fff,
    395px 1512px #fff, 646px 1912px #fff, 1732px 205px #fff, 357px 1185px #fff,
    509px 88px #fff, 424px 1463px #fff, 31px 1494px #fff, 764px 1562px #fff,
    659px 1863px #fff, 1770px 923px #fff, 1698px 1677px #fff, 257px 578px #fff,
    1049px 1843px #fff, 254px 1001px #fff, 1908px 178px #fff, 776px 385px #fff,
    1669px 1017px #fff, 1653px 751px #fff, 1639px 269px #fff, 823px 811px #fff,
    801px 1672px #fff, 1888px 1984px #fff, 1601px 365px #fff, 1082px 548px #fff,
    1348px 698px #fff, 205px 922px #fff, 1748px 1540px #fff, 269px 592px #fff,
    143px 534px #fff, 425px 879px #fff, 1012px 822px #fff, 1366px 214px #fff,
    169px 943px #fff, 171px 1516px #fff, 41px 1052px #fff, 1658px 1557px #fff,
    798px 1426px #fff, 1230px 665px #fff, 1529px 469px #fff, 1101px 1940px #fff,
    1158px 565px #fff, 462px 1312px #fff, 974px 1148px #fff, 441px 1678px #fff,
    1697px 1637px #fff, 1252px 779px #fff, 454px 986px #fff, 322px 1114px #fff,
    875px 606px #fff, 140px 1941px #fff, 317px 1108px #fff, 1999px 1547px #fff,
    1050px 1620px #fff, 1242px 1680px #fff, 1766px 1561px #fff,
    1000px 1649px #fff, 645px 528px #fff, 424px 423px #fff, 1813px 1285px #fff,
    1881px 1140px #fff, 1246px 219px #fff, 1467px 750px #fff, 989px 1508px #fff,
    321px 269px #fff, 1120px 302px #fff, 1832px 1778px #fff, 1897px 177px #fff,
    663px 517px #fff, 1800px 1039px #fff, 971px 327px #fff, 973px 1591px #fff,
    980px 1055px #fff, 1929px 1094px #fff, 1256px 1317px #fff,
    1286px 1586px #fff, 1923px 1665px #fff, 1272px 64px #fff, 1625px 1343px #fff,
    1200px 1251px #fff, 2px 489px #fff, 652px 559px #fff, 973px 977px #fff,
    38px 756px #fff, 1762px 1174px #fff, 1997px 1748px #fff, 1589px 1614px #fff,
    313px 84px #fff, 340px 1401px #fff, 1971px 1358px #fff, 1246px 752px #fff,
    23px 277px #fff, 1366px 1479px #fff, 1187px 182px #fff, 439px 262px #fff,
    1209px 1500px #fff, 1712px 1895px #fff, 597px 1947px #fff,
    1244px 1302px #fff, 1152px 1334px #fff, 1347px 1764px #fff,
    1353px 1584px #fff, 1033px 1278px #fff, 746px 1962px #fff,
    1133px 1878px #fff, 1660px 1220px #fff, 1538px 418px #fff, 58px 1980px #fff,
    1520px 1233px #fff, 1722px 142px #fff, 462px 1026px #fff, 1416px 1859px #fff,
    1855px 393px #fff, 812px 1399px #fff, 1351px 1672px #fff, 1268px 1940px #fff,
    1405px 819px #fff, 1682px 1503px #fff, 849px 35px #fff, 1166px 132px #fff,
    1758px 717px #fff, 758px 1718px #fff, 58px 459px #fff, 441px 416px #fff,
    1360px 1020px #fff, 789px 996px #fff, 1980px 1774px #fff, 761px 652px #fff,
    1245px 1293px #fff, 1606px 2000px #fff, 378px 1900px #fff, 1852px 401px #fff,
    1036px 827px #fff, 928px 1443px #fff, 420px 1283px #fff, 1911px 427px #fff,
    1661px 1322px #fff, 1886px 1091px #fff, 1533px 1109px #fff,
    1853px 1398px #fff, 1023px 873px #fff, 914px 67px #fff, 1095px 1644px #fff,
    1843px 1022px #fff, 419px 278px #fff, 478px 1490px #fff, 1740px 1315px #fff,
    43px 285px #fff, 1573px 1618px #fff, 1031px 1914px #fff, 827px 9px #fff,
    1214px 1615px #fff, 1875px 1306px #fff, 614px 1542px #fff,
    1634px 1025px #fff, 366px 506px #fff, 1455px 1222px #fff, 817px 1687px #fff,
    347px 218px #fff, 1180px 1144px #fff, 234px 379px #fff, 144px 792px #fff,
    1821px 1132px #fff, 629px 58px #fff, 5px 864px #fff, 1205px 1110px #fff,
    1292px 1408px #fff, 1753px 269px #fff, 390px 8px #fff, 1041px 730px #fff,
    1987px 1743px #fff, 863px 355px #fff, 394px 814px #fff, 1975px 950px #fff,
    720px 1252px #fff, 1899px 114px #fff, 1994px 1089px #fff, 963px 1845px #fff,
    1361px 24px #fff, 1019px 1661px #fff, 1335px 997px #fff, 1889px 941px #fff,
    485px 713px #fff, 641px 1999px #fff, 649px 1272px #fff, 187px 246px #fff,
    426px 1962px #fff, 1020px 745px #fff, 800px 457px #fff, 1777px 1494px #fff,
    557px 1238px #fff, 1734px 104px #fff, 1895px 1302px #fff, 19px 1042px #fff,
    1515px 1154px #fff, 97px 661px #fff, 1796px 552px #fff, 709px 1890px #fff,
    1982px 1860px #fff, 1546px 1009px #fff, 900px 46px #fff, 1805px 1516px #fff,
    366px 1056px #fff, 1811px 1779px #fff, 407px 117px #fff, 1195px 1868px #fff,
    720px 40px #fff, 669px 1064px #fff, 766px 1759px #fff, 1427px 1638px #fff,
    915px 1313px #fff, 293px 517px #fff, 1079px 1842px #fff, 1956px 1798px #fff,
    1899px 628px #fff, 1557px 741px #fff, 1218px 1310px #fff, 976px 1523px #fff,
    646px 966px #fff, 1196px 813px #fff, 35px 1993px #fff, 1066px 1828px #fff,
    626px 859px #fff, 1522px 1022px #fff, 558px 1544px #fff, 145px 715px #fff,
    1915px 271px #fff, 510px 719px #fff, 1539px 1319px #fff, 1774px 862px #fff,
    1697px 1351px #fff, 1627px 68px #fff, 1654px 294px #fff, 843px 519px #fff,
    798px 309px #fff, 990px 795px #fff, 1489px 382px #fff, 699px 721px #fff,
    1477px 143px #fff, 1172px 1276px #fff, 55px 36px #fff, 814px 230px #fff,
    1004px 959px #fff, 1666px 1168px #fff, 1956px 339px #fff, 1352px 817px #fff,
    740px 1887px #fff, 739px 1918px #fff, 426px 1546px #fff, 831px 1308px #fff,
    583px 539px #fff, 1457px 614px #fff, 1050px 3px #fff, 642px 1489px #fff,
    1597px 558px #fff, 552px 1525px #fff, 556px 208px #fff, 307px 1016px #fff,
    658px 1471px #fff, 1962px 1802px #fff, 393px 1829px #fff, 1445px 1682px #fff,
    719px 1944px #fff, 1893px 1903px #fff, 1899px 770px #fff, 345px 1642px #fff,
    995px 978px #fff, 1110px 441px #fff, 1840px 1883px #fff, 921px 358px #fff,
    209px 1422px #fff, 225px 1845px #fff, 1571px 1494px #fff, 111px 542px #fff,
    464px 992px #fff, 426px 708px #fff, 1759px 160px #fff, 1189px 484px #fff,
    347px 331px #fff, 431px 607px #fff, 990px 1692px #fff, 1773px 873px #fff,
    1933px 1564px #fff, 706px 554px #fff, 613px 799px #fff, 1377px 1044px #fff,
    1252px 630px #fff, 1989px 1797px #fff, 918px 176px #fff, 1219px 1347px #fff,
    1520px 548px #fff, 1573px 326px #fff, 1999px 8px #fff, 1910px 1213px #fff,
    1796px 514px #fff, 241px 352px #fff, 389px 1547px #fff, 625px 1833px #fff,
    226px 485px #fff, 1844px 813px #fff, 816px 534px #fff, 1009px 431px #fff,
    1291px 1061px #fff, 136px 148px #fff, 147px 1288px #fff, 14px 690px #fff,
    703px 198px #fff, 1776px 29px #fff, 1912px 939px #fff, 1655px 1943px #fff,
    746px 1812px #fff, 262px 310px #fff, 1618px 724px #fff, 972px 495px #fff,
    1433px 1184px #fff, 619px 663px #fff, 1453px 40px #fff, 1726px 1971px #fff,
    1536px 1650px #fff, 1240px 1149px #fff, 1096px 1174px #fff,
    1925px 1765px #fff, 786px 1181px #fff, 689px 374px #fff, 1514px 1323px #fff,
    758px 1753px #fff, 765px 255px #fff, 550px 1848px #fff, 1916px 525px #fff,
    592px 1092px #fff, 846px 1966px #fff, 1806px 1058px #fff, 1694px 1640px #fff,
    705px 167px #fff, 154px 1648px #fff, 353px 1990px #fff, 994px 1505px #fff,
    1249px 580px #fff, 682px 656px #fff, 476px 1845px #fff, 1992px 375px #fff,
    1513px 394px #fff, 1267px 1547px #fff, 1840px 1431px #fff, 93px 376px #fff,
    693px 836px #fff, 777px 1937px #fff, 47px 848px #fff, 597px 1618px #fff,
    774px 783px #fff, 1217px 1624px #fff, 906px 1381px #fff, 1153px 1663px #fff,
    791px 1401px #fff, 918px 907px #fff, 1844px 567px #fff, 399px 304px #fff,
    922px 1120px #fff, 525px 36px #fff, 970px 955px #fff, 450px 357px #fff,
    581px 1008px #fff, 271px 1122px #fff, 657px 1780px #fff, 18px 1677px #fff,
    577px 1451px #fff, 1966px 65px #fff, 1919px 1356px #fff, 1914px 128px #fff,
    513px 1631px #fff, 298px 1279px #fff, 416px 1459px #fff, 769px 1043px #fff,
    717px 1611px #fff, 146px 152px #fff, 373px 1148px #fff, 584px 469px #fff,
    1210px 1674px #fff, 1034px 921px #fff, 1349px 1833px #fff, 25px 1491px #fff,
    61px 262px #fff, 942px 15px #fff, 1591px 1454px #fff, 1749px 1297px #fff,
    978px 1963px #fff, 1960px 798px #fff, 689px 1218px #fff, 746px 1547px #fff,
    1376px 232px #fff, 1620px 867px #fff, 914px 1545px #fff, 888px 976px #fff,
    1523px 441px #fff, 1771px 827px #fff, 1027px 717px #fff, 1431px 515px #fff,
    1049px 1260px #fff, 844px 537px #fff, 1650px 668px #fff, 600px 1773px #fff,
    1933px 1281px #fff, 96px 1412px #fff, 1773px 71px #fff, 1302px 882px #fff,
    452px 1159px #fff, 254px 12px #fff, 772px 1755px #fff, 1079px 957px #fff,
    128px 545px #fff, 1308px 767px #fff, 1561px 1615px #fff, 1753px 1568px #fff,
    357px 532px #fff, 475px 73px #fff, 282px 944px #fff, 676px 328px #fff,
    1246px 1573px #fff, 762px 858px #fff, 229px 722px #fff, 679px 1945px #fff,
    1266px 59px #fff, 1193px 601px #fff, 1662px 1957px #fff, 1408px 639px #fff,
    1651px 991px #fff, 1703px 1377px #fff, 1992px 1733px #fff,
    1258px 1569px #fff, 230px 341px #fff, 1414px 128px #fff, 151px 1340px #fff,
    1436px 1767px #fff, 1135px 507px #fff, 657px 1921px #fff, 596px 883px #fff,
    1027px 1313px #fff, 1965px 1633px #fff, 252px 1514px #fff, 1717px 39px #fff,
    1489px 1674px #fff, 1155px 1350px #fff, 1461px 1960px #fff,
    1128px 514px #fff, 853px 588px #fff, 916px 721px #fff, 1540px 1243px #fff,
    699px 113px #fff, 1180px 522px #fff, 1403px 1645px #fff, 1227px 1185px #fff,
    1985px 1464px #fff, 1669px 1055px #fff, 737px 508px #fff, 473px 359px #fff,
    1927px 288px #fff, 1505px 93px #fff, 1374px 717px #fff, 1813px 755px #fff,
    864px 424px #fff, 922px 298px #fff, 1163px 1589px #fff, 1936px 1757px #fff,
    477px 1061px #fff, 114px 607px #fff, 1405px 1350px #fff, 756px 355px #fff,
    1231px 816px #fff, 805px 410px #fff, 1988px 786px #fff, 1155px 1727px #fff,
    1688px 1180px #fff, 732px 1623px #fff, 118px 239px #fff, 1864px 1555px #fff,
    530px 1629px #fff, 828px 1996px #fff, 1493px 867px #fff, 419px 1896px #fff,
    819px 787px #fff, 759px 208px #fff, 1861px 1297px #fff, 1821px 1765px #fff,
    1626px 97px #fff, 528px 640px #fff, 778px 887px #fff, 1983px 1072px #fff,
    1402px 1093px #fff, 906px 1127px #fff, 1814px 209px #fff, 95px 16px #fff,
    1640px 707px #fff, 1211px 180px #fff, 1970px 281px #fff, 1959px 852px #fff,
    715px 1929px #fff, 1203px 1981px #fff, 1433px 1795px #fff, 1650px 471px #fff,
    1465px 1676px #fff, 154px 680px #fff, 1027px 117px #fff, 218px 1258px #fff,
    974px 196px #fff, 1691px 1148px #fff, 1065px 1554px #fff, 1164px 705px #fff,
    963px 858px #fff, 192px 1660px #fff, 1477px 1177px #fff, 373px 1073px #fff,
    1687px 1515px #fff, 1283px 63px #fff, 832px 290px #fff, 1807px 1859px #fff,
    1350px 1331px #fff, 1026px 471px #fff, 404px 368px #fff, 61px 1378px #fff,
    820px 1625px #fff, 1561px 1729px #fff, 393px 600px #fff, 902px 1848px #fff,
    1885px 658px #fff, 1259px 792px #fff, 77px 694px #fff, 571px 217px #fff,
    1142px 1668px #fff, 1899px 165px #fff, 1462px 515px #fff, 797px 948px #fff,
    1107px 654px #fff, 806px 34px #fff, 1472px 969px #fff, 756px 748px #fff,
    811px 513px #fff, 894px 1203px #fff, 168px 433px #fff, 298px 844px #fff,
    163px 1003px #fff, 881px 926px #fff, 1082px 465px #fff, 745px 1018px #fff,
    406px 201px #fff, 1167px 333px #fff, 66px 206px #fff, 824px 1918px #fff,
    1938px 480px #fff, 630px 711px #fff, 1690px 1989px #fff, 313px 415px #fff,
    755px 1863px #fff, 1880px 239px #fff, 1023px 1307px #fff, 1725px 658px #fff,
    1081px 1397px #fff, 202px 1791px #fff, 531px 1857px #fff, 760px 1639px #fff,
    977px 1822px #fff, 1866px 1242px #fff, 293px 22px #fff, 1932px 39px #fff,
    723px 1181px #fff, 462px 1745px #fff, 124px 1784px #fff, 657px 620px #fff,
    90px 1761px #fff, 1456px 1081px #fff, 1800px 895px #fff, 1149px 1160px #fff,
    1841px 379px #fff, 810px 360px #fff, 1170px 1636px #fff, 607px 1267px #fff,
    340px 87px #fff, 912px 1415px #fff, 1018px 1516px #fff, 456px 1430px #fff,
    802px 1428px #fff, 1631px 168px #fff, 1784px 1991px #fff, 1498px 1664px #fff,
    1601px 1442px #fff, 438px 1755px #fff, 1713px 781px #fff, 1412px 1723px #fff,
    160px 255px #fff, 1186px 1111px #fff, 1753px 552px #fff, 925px 983px #fff,
    402px 153px #fff, 257px 553px #fff, 1619px 1145px #fff, 862px 680px #fff,
    592px 866px #fff, 195px 1229px #fff, 1065px 1133px #fff, 299px 302px #fff,
    273px 282px #fff, 1760px 35px #fff, 1753px 1598px #fff, 533px 39px #fff;
  animation: animStar 30s linear infinite;
}

@keyframes animStar {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-2000px);
  }
}



#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 538px 290px #fff, 984px 1800px #fff, 911px 207px #fff,
    1785px 493px #fff, 749px 1312px #fff, 1093px 545px #fff, 1159px 1345px #fff,
    285px 1948px #fff, 1526px 1252px #fff, 1099px 748px #fff, 586px 1337px #fff,
    362px 1233px #fff, 486px 424px #fff, 682px 1097px #fff, 956px 1309px #fff,
    3px 546px #fff, 896px 1845px #fff, 689px 1706px #fff, 167px 740px #fff,
    1961px 1391px #fff, 942px 1796px #fff, 1664px 1778px #fff, 1883px 611px #fff,
    1053px 303px #fff, 686px 1573px #fff, 802px 1479px #fff, 1790px 1349px #fff,
    1168px 978px #fff, 615px 439px #fff, 1066px 281px #fff, 230px 1126px #fff,
    171px 542px #fff, 1788px 1163px #fff, 312px 957px #fff, 1533px 1364px #fff,
    291px 488px #fff, 1650px 281px #fff, 1792px 784px #fff, 1278px 438px #fff,
    217px 1606px #fff, 838px 1871px #fff, 1048px 1794px #fff, 674px 1754px #fff,
    1498px 1711px #fff, 9px 1367px #fff, 35px 173px #fff, 146px 1820px #fff,
    1297px 662px #fff, 1807px 540px #fff, 618px 335px #fff, 1715px 383px #fff,
    1029px 23px #fff, 510px 1460px #fff, 447px 1940px #fff, 1653px 1398px #fff,
    1638px 1119px #fff, 1966px 1251px #fff, 966px 993px #fff, 1290px 251px #fff,
    421px 1728px #fff, 1042px 1201px #fff, 937px 1294px #fff, 150px 1934px #fff,
    688px 246px #fff, 510px 510px #fff, 1074px 1469px #fff, 259px 1341px #fff,
    1343px 1342px #fff, 1040px 1963px #fff, 1419px 588px #fff, 1575px 737px #fff,
    118px 518px #fff, 1644px 1909px #fff, 1416px 247px #fff, 927px 1700px #fff,
    238px 551px #fff, 1040px 1274px #fff, 413px 742px #fff, 567px 1894px #fff,
    1674px 949px #fff, 676px 300px #fff, 1397px 363px #fff, 1246px 512px #fff,
    1120px 828px #fff, 506px 87px #fff, 1634px 1129px #fff, 1429px 639px #fff,
    404px 1453px #fff, 179px 626px #fff, 1027px 276px #fff, 1953px 899px #fff,
    70px 1101px #fff, 730px 234px #fff, 955px 450px #fff, 1971px 453px #fff,
    1951px 843px #fff, 222px 169px #fff, 1883px 1649px #fff, 71px 69px #fff,
    898px 137px #fff, 1507px 1366px #fff, 204px 1295px #fff, 100px 127px #fff,
    535px 1860px #fff, 803px 75px #fff, 6px 1242px #fff, 681px 282px #fff,
    425px 330px #fff, 575px 620px #fff, 1673px 652px #fff, 1913px 171px #fff,
    1646px 294px #fff, 1486px 1735px #fff, 1141px 188px #fff, 97px 821px #fff,
    574px 348px #fff, 106px 1671px #fff, 490px 1588px #fff, 1011px 43px #fff,
    449px 901px #fff, 1229px 1656px #fff, 88px 1638px #fff, 445px 1777px #fff,
    1918px 390px #fff, 1499px 1175px #fff, 225px 1341px #fff, 1539px 325px #fff,
    1890px 114px #fff, 359px 302px #fff, 894px 1715px #fff, 362px 1884px #fff,
    382px 670px #fff, 1698px 725px #fff, 1983px 1229px #fff, 1116px 442px #fff,
    382px 1653px #fff, 1587px 1385px #fff, 161px 1543px #fff, 47px 885px #fff,
    1043px 1920px #fff, 130px 1705px #fff, 1885px 1101px #fff,
    1067px 1173px #fff, 1967px 1486px #fff, 1630px 838px #fff,
    1172px 1825px #fff, 936px 1518px #fff, 359px 1691px #fff, 1170px 1252px #fff,
    1064px 1071px #fff, 1710px 871px #fff, 888px 266px #fff, 165px 1414px #fff,
    563px 1079px #fff, 1839px 937px #fff, 1130px 1034px #fff, 762px 1898px #fff,
    1046px 593px #fff, 1143px 550px #fff, 1667px 848px #fff, 1194px 1372px #fff,
    1682px 1656px #fff, 284px 700px #fff, 1544px 1649px #fff, 57px 176px #fff,
    1122px 879px #fff, 1783px 840px #fff, 568px 1699px #fff, 265px 912px #fff,
    737px 1739px #fff, 1996px 694px #fff, 1510px 928px #fff, 1397px 571px #fff,
    1777px 848px #fff, 1356px 1677px #fff, 1059px 1147px #fff,
    1102px 1965px #fff, 1394px 1880px #fff, 264px 953px #fff, 32px 229px #fff,
    287px 1373px #fff, 281px 1181px #fff, 1574px 504px #fff, 1469px 1682px #fff,
    1249px 1377px #fff, 1672px 1476px #fff, 1058px 68px #fff, 476px 361px #fff,
    1721px 282px #fff, 637px 940px #fff, 318px 431px #fff, 1405px 47px #fff,
    717px 1860px #fff, 1105px 83px #fff, 940px 347px #fff, 453px 989px #fff,
    1899px 1279px #fff, 628px 210px #fff, 114px 723px #fff, 1940px 1756px #fff;
  animation: animStar 60s linear infinite;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1655px 1767px #fff, 1346px 1598px #fff, 1518px 550px #fff,
    858px 933px #fff, 1912px 904px #fff, 827px 1814px #fff, 1935px 1066px #fff,
    288px 700px #fff, 176px 427px #fff, 1333px 616px #fff, 1490px 72px #fff,
    453px 920px #fff, 1321px 1638px #fff, 868px 1452px #fff, 215px 910px #fff,
    555px 1591px #fff, 1436px 371px #fff, 1079px 964px #fff, 732px 1930px #fff,
    648px 1560px #fff, 1344px 83px #fff, 799px 327px #fff, 681px 754px #fff,
    675px 1873px #fff, 20px 1429px #fff, 187px 1750px #fff, 487px 1131px #fff,
    222px 1343px #fff, 997px 702px #fff, 1788px 1496px #fff, 324px 1904px #fff,
    1747px 372px #fff, 276px 653px #fff, 1372px 849px #fff, 687px 45px #fff,
    1839px 1275px #fff, 1355px 763px #fff, 1716px 433px #fff, 314px 88px #fff,
    1018px 1129px #fff, 214px 1492px #fff, 761px 696px #fff, 573px 961px #fff,
    472px 1376px #fff, 360px 298px #fff, 976px 1412px #fff, 1111px 1953px #fff,
    206px 303px #fff, 1084px 1271px #fff, 1206px 1777px #fff, 1122px 256px #fff,
    393px 1279px #fff, 1048px 144px #fff, 761px 1786px #fff, 1713px 1160px #fff,
    1302px 921px #fff, 608px 1346px #fff, 1925px 867px #fff, 1908px 804px #fff,
    868px 593px #fff, 671px 1185px #fff, 1715px 847px #fff, 1009px 1869px #fff,
    1535px 873px #fff, 805px 852px #fff, 1652px 1357px #fff, 528px 1184px #fff,
    654px 387px #fff, 1693px 616px #fff, 1959px 1754px #fff, 805px 31px #fff,
    1197px 186px #fff, 162px 1888px #fff, 841px 1737px #fff, 361px 1942px #fff,
    1280px 1483px #fff, 1529px 1270px #fff, 658px 1800px #fff, 948px 953px #fff,
    559px 1798px #fff, 1627px 1149px #fff, 1591px 1120px #fff,
    1628px 1785px #fff, 165px 1960px #fff, 822px 666px #fff, 100px 334px #fff,
    1134px 1831px #fff, 1566px 1079px #fff, 1343px 32px #fff, 246px 801px #fff,
    1645px 1527px #fff, 1138px 1446px #fff, 1587px 659px #fff, 1367px 402px #fff,
    284px 312px #fff, 81px 20px #fff, 1705px 547px #fff, 1222px 519px #fff,
    740px 1974px #fff, 1283px 962px #fff;
  animation: animStar 90s linear infinite;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
